@{
    ViewData["Title"] = "Home Page";
}


<h2><a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movie Registration</a></h2>
<h2><a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="List">Catalog</a></h2>
